[Unit]
Description=Gunicorn instance to serve bucephalus
After=network.target

[Service]
User=nobody
Group=nogroup
WorkingDirectory=/var/www/bucephalus
Environment="PATH=/var/www/bucephalus/venv/bin"
ExecStart=/var/www/bucephalus/venv/bin/gunicorn -c wsgi.py bucephalus:app

[Install]
WantedBy=multi-user.target
