
div.view_row_start {
	float: left;
	clear: both;
	margin: 5px;
}

div.view_row_cont {
	float: left;
	margin: 5px;
}

#sidebar-header {
	width: 100%;
	height: 50px;
}

#sidebar-wrapper {
	padding: 5px;
}