{% extends "bootstrap/base.html" %}

{% block title %}Simulation monitor{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link href="static/css/simple-sidebar.css" rel="stylesheet">
<link href="static/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="wrapper" class="toggled">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<div id="sidebar-header">
			<div id="sidebar-token-header" style="color:#FFFFFF;">Current Simulation:</div>
			
            <div id="sidebar-token-body" data-width="100%">
                <form id="sidebar-token-form" action="" data-width="100%">
					<select name="sidebar-token-picker" class="selectpicker show-tick" data-width="100%" onchange="if (this.selectedIndex) changeToken(this, event);">
					{%  for token in tokens %}
						<option value={{ token }}>{{ token }}</option>
					{% endfor %}
					</select>
                </form>
            </div>
				  
		</div>
		<div id="sidebar-nav"></div>
	</div>

    <div id="progress-dialog" title="Loading data">
        <div id="progress-bar"></div></div>

	<div class="page-content-wrapper">
		<div id="page-content-inner" class="container-fluid">
		{% block page_content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  var loadingDialog, progressBar;

  $(function() {
    $("#begin_date").datepicker({beforeShowDay: $.datepicker.noWeekends, maxDate: "05/22/2017"});
    $("#end_date").datepicker({beforeShowDay: $.datepicker.noWeekends, maxDate: "05/23/2017"});
	$("#begin_date").datepicker('setDate', "05/22/2017");
	$("#end_date").datepicker('setDate', "05/23/2017");

	loadingDialog = $("#progress-dialog").dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        modal: true,
        minHeight: '60px'
    });
	loadingDialog.dialog('widget').find('.ui-dialog-titlebar-close').hide();

	progressBar = $("#progress-bar").progressbar({
        value: false
    });
  } );
</script>

<script type="text/javascript">
    function changeToken(form, event){
        var token = $("#sidebar-token-form :selected").text();
        console.log("selected token: %s", token);
        $.getJSON('/set_token?token=' + token);
        renderViews() //Refresh the page with updated token
    }
</script>

<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% endblock %}
