{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Highcharts{% endblock %}

{% block page_content %}
	<div class="page-header">
		<h1 id="strategy_header">Bucephalus Trading Monitor</h1>
	</div>
	<div id="datepicker-div">
		<b>Date: <input type="text" name="begin date" id="begin_date"></b>
		<input type="submit" id="submit_date" name="Submit" value="enter">
	</div>
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<div id="page-content">
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/bootstrap-treeview.min.js') }}"></script>
<script src="{{url_for('static', filename='js/viewrenderers.js') }}"></script>
<script src="{{url_for('static', filename='js/contentpane.js') }}"></script>
<script src="{{url_for('static', filename='js/navpane.js') }}"></script>
<script>
$(function () {
	$(document).ready(function () {
	    var jsonList = getJsonFromUrl();
	    var dates = jsonList[jsonList.length-1];
	    if (typeof dates !== 'undefined') {
	        var begin = dates.split(',')[0];
			var end = dates.split(',')[1];
			console.log("begin", begin.split('_').join('/'));
			renderNavPane(begin, end);
			$("#begin_date").datepicker('setDate', begin.split('_').join('/'));
		}
	    else {
	        renderNavPane();
		}
		renderSimulationSelector();
	});
});
</script>

{% endblock %}
